@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro-Regular.ttf") format("truetype");
}

* {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Poppins",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.heroBg {
  background-image: url("../../public/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.mask {
  mask-image: url("../../public/mask.svg");
  background-color: #248232;
  mask-repeat: no-repeat;
  mask-size: 40px;
  color: #2d3a3a;
  transition: all 0s ease-out;
}
